;; shadow-cljs.edn
{:source-paths ["src"]

 :dependencies
 [[reagent "1.0.0"]
  [re-frame "1.0.0"]]

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:entries [meu-portfolio.core]}}
   :devtools {:http-root "public"
              :http-port 3000}}}}
