@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sobrescrevendo a regra anterior (h1 strong) */
.prose :where(h1 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    font-weight: 900;
    color: rgb(229 231 235); /* Cor personalizada */
}

/* Sobrescrevendo a nova regra (strong) */
.prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    font-weight: 600; /* Mantém o peso original */
    color: rgb(17 24 39); /* Cor preta para tema claro */
}

.dark .prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: rgb(229 231 235); /* Cor cinza claro para tema escuro */
}

/* Sobrescrevendo a nova regra (code) */
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: rgb(17 24 39); /* Cor preta para tema claro */
    font-weight: 600;
    font-size: .875em;
}

.dark .prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: white; /* Cor branca para tema escuro */
}

/* Sobrescrevendo a nova regra (pre) */
.prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: #bac1cc; /* Cor personalizada para tema claro */
    background-color: #a1b1c9; /* Background para tema claro */
}

.dark .prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: #171b20; /* Cor personalizada para tema escuro */
    background-color: black; /* Background para tema escuro */
}

/* Sobrescrevendo a cor para ser igual a dos outros */
:is(.dark .anchor) {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity)); /* Cor personalizada */
}

:is(.anchor) {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity)); /* Cor preta para tema claro */
}